example_folder/serial_example/flipped_image.jpg
example_folder/serial_example/serial_main.o
example_folder/simple-jpeg/cdjpeg.o
example_folder/simple-jpeg/import_export_jpeg.o
example_folder/simple-jpeg/jcapimin.o
example_folder/simple-jpeg/jcapistd.o
example_folder/simple-jpeg/jccoefct.o
example_folder/simple-jpeg/jccolor.o
example_folder/simple-jpeg/jcdctmgr.o
example_folder/simple-jpeg/jchuff.o
example_folder/simple-jpeg/jcinit.o
example_folder/simple-jpeg/jcmainct.o
example_folder/simple-jpeg/jcmarker.o
example_folder/simple-jpeg/jcmaster.o
example_folder/simple-jpeg/jcomapi.o
example_folder/simple-jpeg/jcparam.o
example_folder/simple-jpeg/jcphuff.o
example_folder/simple-jpeg/jcprepct.o
example_folder/simple-jpeg/jcsample.o
example_folder/simple-jpeg/jctrans.o
example_folder/simple-jpeg/jdapimin.o
example_folder/simple-jpeg/jdapistd.o
example_folder/simple-jpeg/jdatadst.o
example_folder/simple-jpeg/jdatasrc.o
example_folder/simple-jpeg/jdcoefct.o
example_folder/simple-jpeg/jdcolor.o
example_folder/simple-jpeg/jddctmgr.o
example_folder/simple-jpeg/jdhuff.o
example_folder/simple-jpeg/jdinput.o
example_folder/simple-jpeg/jdmainct.o
example_folder/simple-jpeg/jdmarker.o
example_folder/simple-jpeg/jdmaster.o
example_folder/simple-jpeg/jdmerge.o
example_folder/simple-jpeg/jdphuff.o
example_folder/simple-jpeg/jdpostct.o
example_folder/simple-jpeg/jdsample.o
example_folder/simple-jpeg/jdtrans.o
example_folder/simple-jpeg/jerror.o
example_folder/simple-jpeg/jfdctflt.o
example_folder/simple-jpeg/jfdctfst.o
example_folder/simple-jpeg/jfdctint.o
example_folder/simple-jpeg/jidctflt.o
example_folder/simple-jpeg/jidctfst.o
example_folder/simple-jpeg/jidctint.o
example_folder/simple-jpeg/jidctred.o
example_folder/simple-jpeg/jmemmgr.o
example_folder/simple-jpeg/jmemnobs.o
example_folder/simple-jpeg/jquant1.o
example_folder/simple-jpeg/jquant2.o
example_folder/simple-jpeg/jutils.o
example_folder/simple-jpeg/rdbmp.o
example_folder/simple-jpeg/rdcolmap.o
example_folder/simple-jpeg/rdgif.o
example_folder/simple-jpeg/rdppm.o
example_folder/simple-jpeg/rdrle.o
example_folder/simple-jpeg/rdswitch.o
example_folder/simple-jpeg/rdtarga.o
example_folder/simple-jpeg/transupp.o
example_folder/simple-jpeg/wrbmp.o
example_folder/simple-jpeg/wrgif.o
example_folder/simple-jpeg/wrppm.o
example_folder/simple-jpeg/wrrle.o
example_folder/simple-jpeg/wrtarga.o
